body {
  background-image: url('media/solar_system_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#planets{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}
th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}
th {
  font-weight: bold;
  font-size: 18px;
}
td {
  font-size: 16px;
}
