body {
  background-image: url('../media/solar_system_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

#planet_images img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

th {
  font-weight: bold;
  font-size: 24px;
}

td {
  font-size: 16px;
}
tr:nth-child(even){
  background-color: #f9f9f9;
}

tr:nth-child(odd){
  background-color: #fff;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}


